header {
    height: 100vh;
    display: grid;
    grid-template-rows: 45% 55%;
        @media screen and (min-width:1000px) {
            height: 57vh;
            grid-template-columns: 59% 41%;
            grid-template-rows: auto;
        }
}
.topHead {
    background: url(/assets/images/mobile-image-hero-1.jpg) center/cover;
    position: relative;
    transition: 0.5s;
        @media screen and (min-width:1000px) {
            background: url(/assets/images/desktop-image-hero-1.jpg) center/cover;
        }
    nav {
        height: 40px;
        position: relative;
        padding: 20px;

            .burger-button {
                position: absolute;
                top: 42px;
                @media screen and (min-width:1000px) {
                    display: none;
                }
            }
            .menu {
                position: absolute;
                background: hsl(0, 0%, 100%);
                top: 0;
                right: 0;
                height: 90px;
                width: 100vw;
                display: flex;
                align-items: center;
                justify-content: flex-end;
                z-index: 5;
                visibility: hidden;
                    @media screen and (min-width:1000px) {
                        visibility: visible;
                        background: none;
                        width: 100%;
                        justify-content: flex-start;
                        padding-left: 155px;
                    }
                .cross-button {
                    position: absolute;
                    left: 30px;
                        @media screen and (min-width:1000px) {
                            display: none;
                        }
                }
                ul {
                    display: flex;
                    li {
                        padding: 15px;
                        font-size: 1.2rem;
                        position: relative;
                            :hover:after {
                                position: absolute;
                                content: "";
                                width: 20px;
                                height: 3px;
                                background: white;
                                left: 50%;
                                transform: translate(-50%, -5px);
                            }
                            a {
                                color: black;
                                @media screen and (min-width:1000px) {
                                    color: white;
                                    font-size: 1rem;
                                }
                                :active {
                                    color: hsl(0, 0%, 27%);
                                }                               
                            }
                            
                    }
                }            
            }
            h1 {
                color: hsl(0, 0%, 100%);
                text-transform: lowercase;
                position: absolute;
                top: 35px;
                left: 50%;
                transform: translateX(-50%);
                font-weight: 300;
                font-size: 2rem;
                    @media screen and (min-width:1000px) {
                        left: 100px;
                        top: 31px;
                    }
            }
    }

    .head-button {
        position: absolute;
        bottom: 0;
        right: 0;
        background: black;
        @media screen and (min-width:1000px) {
            right: -114px;
        }
            button {
                height: 55px;
                width: 55px;
                background: black;
                border: none;
                transition: 0.2s;
                cursor: pointer;
            }
            :active {
                background: hsl(0, 0%, 27%);
            }
    }
}

.bottomHead {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 45px 20px;
    @media screen and (min-width:1000px) {
        padding: 70px;
    }
    .swap-part, .swap-part2, .swap-part3 {
            h2 {
                font-size: 2.42rem;
                padding-bottom: 15px;
            }
            p {
                line-height: 23px;
                color: hsl(0, 0%, 63%);
                font-size: 1.1rem;
            }
        }
    .swap-part2, .swap-part3{
        display: none;
    }
            button {
                border: none;
                background: none;
                letter-spacing: 10px;
                text-transform: uppercase;
                text-align: left;
                font-size: 1.2em;
                font-weight: 600;
                cursor: pointer;
                :active {
                    color: hsl(0, 0%, 63%);
                }
            }
}

section {
    display: grid;
    grid-template-rows: 30% 40% 30%;
        @media screen and (min-width:1000px) {
            grid-template-columns: 30% 40% 30%;
            grid-template-rows: auto;
        }
        .sect-img {
            img {
                width: 100%;
            }
        }
        article {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: space-around;
            padding: 45px 20px;
                @media screen and (min-width:1000px) {
                    justify-content: center;
                    padding: 50px;                   
                }
            h4 {
                text-transform: uppercase;
                padding-bottom: 20px;
                letter-spacing: 5px;
            }
            p {
                line-height: 23px;
                color: hsl(0, 0%, 63%);
                font-size: 1.1rem;
            }
        }
}
