@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "League Spartan", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  list-style-type: none;
  text-decoration: none;
}

@media screen and (min-width: 1000px) {
  body {
    height: 100vh;
  }
}

header {
  height: 100vh;
  display: grid;
  grid-template-rows: 45% 55%;
}
@media screen and (min-width: 1000px) {
  header {
    height: 57vh;
    grid-template-columns: 59% 41%;
    grid-template-rows: auto;
  }
}

.topHead {
  background: url(/assets/images/mobile-image-hero-1.jpg) center/cover;
  position: relative;
  transition: 0.5s;
}
@media screen and (min-width: 1000px) {
  .topHead {
    background: url(/assets/images/desktop-image-hero-1.jpg) center/cover;
  }
}
.topHead nav {
  height: 40px;
  position: relative;
  padding: 20px;
}
.topHead nav .burger-button {
  position: absolute;
  top: 42px;
}
@media screen and (min-width: 1000px) {
  .topHead nav .burger-button {
    display: none;
  }
}
.topHead nav .menu {
  position: absolute;
  background: hsl(0deg, 0%, 100%);
  top: 0;
  right: 0;
  height: 90px;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 5;
  visibility: hidden;
}
@media screen and (min-width: 1000px) {
  .topHead nav .menu {
    visibility: visible;
    background: none;
    width: 100%;
    justify-content: flex-start;
    padding-left: 155px;
  }
}
.topHead nav .menu .cross-button {
  position: absolute;
  left: 30px;
}
@media screen and (min-width: 1000px) {
  .topHead nav .menu .cross-button {
    display: none;
  }
}
.topHead nav .menu ul {
  display: flex;
}
.topHead nav .menu ul li {
  padding: 15px;
  font-size: 1.2rem;
  position: relative;
}
.topHead nav .menu ul li :hover:after {
  position: absolute;
  content: "";
  width: 20px;
  height: 3px;
  background: white;
  left: 50%;
  transform: translate(-50%, -5px);
}
.topHead nav .menu ul li a {
  color: black;
}
@media screen and (min-width: 1000px) {
  .topHead nav .menu ul li a {
    color: white;
    font-size: 1rem;
  }
}
.topHead nav .menu ul li a :active {
  color: hsl(0deg, 0%, 27%);
}
.topHead nav h1 {
  color: hsl(0deg, 0%, 100%);
  text-transform: lowercase;
  position: absolute;
  top: 35px;
  left: 50%;
  transform: translateX(-50%);
  font-weight: 300;
  font-size: 2rem;
}
@media screen and (min-width: 1000px) {
  .topHead nav h1 {
    left: 100px;
    top: 31px;
  }
}
.topHead .head-button {
  position: absolute;
  bottom: 0;
  right: 0;
  background: black;
}
@media screen and (min-width: 1000px) {
  .topHead .head-button {
    right: -114px;
  }
}
.topHead .head-button button {
  height: 55px;
  width: 55px;
  background: black;
  border: none;
  transition: 0.2s;
  cursor: pointer;
}
.topHead .head-button :active {
  background: hsl(0deg, 0%, 27%);
}

.bottomHead {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 45px 20px;
}
@media screen and (min-width: 1000px) {
  .bottomHead {
    padding: 70px;
  }
}
.bottomHead .swap-part h2, .bottomHead .swap-part2 h2, .bottomHead .swap-part3 h2 {
  font-size: 2.42rem;
  padding-bottom: 15px;
}
.bottomHead .swap-part p, .bottomHead .swap-part2 p, .bottomHead .swap-part3 p {
  line-height: 23px;
  color: hsl(0deg, 0%, 63%);
  font-size: 1.1rem;
}
.bottomHead .swap-part2, .bottomHead .swap-part3 {
  display: none;
}
.bottomHead button {
  border: none;
  background: none;
  letter-spacing: 10px;
  text-transform: uppercase;
  text-align: left;
  font-size: 1.2em;
  font-weight: 600;
  cursor: pointer;
}
.bottomHead button :active {
  color: hsl(0deg, 0%, 63%);
}

section {
  display: grid;
  grid-template-rows: 30% 40% 30%;
}
@media screen and (min-width: 1000px) {
  section {
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: auto;
  }
}
section .sect-img img {
  width: 100%;
}
section article {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  padding: 45px 20px;
}
@media screen and (min-width: 1000px) {
  section article {
    justify-content: center;
    padding: 50px;
  }
}
section article h4 {
  text-transform: uppercase;
  padding-bottom: 20px;
  letter-spacing: 5px;
}
section article p {
  line-height: 23px;
  color: hsl(0deg, 0%, 63%);
  font-size: 1.1rem;
}/*# sourceMappingURL=index.css.map */